body {
    background: linear-gradient(90deg, #accbe1, 0%, #accbe1 50%, #f0efeb 100%);
}

/* .popup {
  width: 20vw;
  padding: 1rem;
 
} */

.popup img {
  height: 200px;
  text-align: center;
  margin: 0 auto;
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 18px;
  display: block;
}

#alert1{
  color: red;
  border-color: red;
  background-color: #ffdadb;
  margin-top: 10px;
  padding:7px;
}

#alert2{
  color: red;
  border-color: red;
  background-color: #ffdadb;
  margin-top: 10px;
  padding:7px;
}





#imgmap{
  /* margin: 0 ; */
  /* position: absolute; */
  /* object-fit: fill; */

  object-fit: cover;

}


.form1 label,
.form1 input,
.form1 textarea,
.form1 button {
    font-size: 1rem;
    margin: 0.5rem 0;
    display: block;
    width: 100%; 
}

#sidebar {
    background-color:#accbe1 !important;
    
  }
  
  #sidebar .ant-layout-sider-children {
    padding-top: 2rem;
  }
  
  #sidebar .ant-menu {
    background: transparent !important;
    color: black;
    border-right: none !important;
    text-align: center;
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
  
  }

  #sidebar .ant-menu a{
    text-decoration: none;
  }
  
  #sidebar .ant-menu-item {
    margin-top: 2rem;
  }

  .ant-modal-header {
    background-color: #accbe1 !important;
    
  }

  .ant-layout-header {
    background-color: #accbe1 !important;
  }

  .ant-layout-header h1{
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  

  #login-cont{
    margin-top: 100px;
  }

  #title{
    text-align: center;
    padding: 50px;
    
  }

  #login{
    background-color: rgba(255, 255, 255, 0.801);
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 1em;
  text-align: left;
  width: 600px;
  box-shadow:  -0.2em 1px #dddddd, -0.5em 0 .5em #dddddd;
  }

  #signin{
    background-color: rgba(255, 255, 255, 0.801);
  border: 2px solid #d3d3d3;
  border-radius: .5em;
  margin-bottom: 1em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 1em;
  text-align: left;
  width: 600px;
  box-shadow:  -0.2em 1px #dddddd, -0.5em 0 .5em #dddddd;
  }

  #metriptitle{
    padding-top: 20px;
    color:#eae6ca;
    font-weight: bold;
  
  }

  .oldtripview{
    padding: 5px;
   
  }

  .oldtripview label{
    font-weight: bold;
    font-size: small;
   
  }

 

  .oldtripview h3{
    text-align: center;
    background-color: #caf0f8;
    /* margin: 0; */
    width: 100%;
  }

  #bustbutton{
    color: #0096c7;
    border-color: #0096c7;
    margin-top: 10px;
    font-size: 1rem;
    /* margin: 0.5rem 0; */
    display: block;
    width: 100%;
  }

  #submitbutton{
    color: #0096c7;
    border-color: #0096c7;
    margin-top: 10px;
    font-size: 1rem;
    /* margin: 0.5rem 0; */
    display: block;
    width: 100%;
  }

  #buttonsubmit1{
    border: 1px solid #0096c7;
    padding: 6px;
    border-radius: 0.1cm;
    margin-top: 10px;
    font-size: 1rem;
    color: #0096c7;
    /* margin: 0.5rem 0; */
    display: block;
    width: 100%;
  }


  .showpoi label{
    font-weight: bold;
    font-size: small;
  }

  .showhotel label{
    font-weight: bold;
    font-size: small; 
  }

  #planNewTrip{
    margin-bottom: 150px;
    padding: 15px;
  }
/* 
  #multiselector{
    position:absolute;
    top:100%;
  } */

  #dropdown{
    width: 250px;
    max-height: 400px;
    overflow-y: auto;
    overflow: hidden;
    border: 1px solid #9c9c9c;
    outline: none;
    cursor: text;
    transition: border-radius .2s;
    border-radius: 8px;
    background-color: rgb(246, 246, 246);
    padding: 8px;
  }
/* 
  #option{
    width: 250px;
  } */
/* 
  #table{
    width: 100%;
    border-collapse:collapse;
  } */

  #table{

    /* margin: auto; */
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 70% !important; 
  }

  table tr td {
    padding:0;  
  }
  table tr td:nth-child(1) {
    width:0.5px;
  } 
  table tr td:nth-child(2) {
    width:5px;
  }
  table tr td:nth-child(3) {
    width:10px;
  }
  table tr td:nth-child(4) {
    width:10px;
  }
  table tr td:nth-child(5) {
    width:40px;
  }
  table tr td:nth-child(6) {
    width:3px;
  }

  

  #planNewTrip{
    text-align: center;
    margin: 15px;
  }

  #city{
    overflow: hidden;
    border: 1px solid #9c9c9c;
    outline: none;
    cursor: text;
    transition: border-radius .2s;
    border-radius: 8px;
    background-color: rgb(246, 246, 246);
    padding: 8px;
    
  }

  #date{
    overflow: hidden;
    border: 1px solid #9c9c9c;
    outline: none;
    cursor: text;
    transition: border-radius .2s;
    border-radius: 8px;
    background-color: rgb(246, 246, 246);
    padding: 8px;
  }


  option {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 2px solid #394a6d;
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
  }

  #button3{
    margin-top: 10px;
    font-size: 1rem;
    /* margin: 0.5rem 0; */
    display: block;
    width: 100%;
    border-radius: 5cm;
    margin-top: 30px;
    padding: 8px;

    border: 1px solid #9c9c9c;
    outline: none;
    cursor: text;
  
    background-color: rgb(246, 246, 246);
  }

  #tagglebutton{
    margin-left: 45%;
    margin-bottom: 15px;
  }

  #button5{
    margin-left: 40%;
    margin-bottom: 15px;
  }

  #hotelmap{
   margin-bottom: -4px;
   font-weight: bolder;
  }

  #attpointmap{
    margin-bottom: -4px;
    font-weight: bolder;
  }

  #button7{
    margin-top:20%;
    margin-left:25%;
    display:block;
  }

  #buttontotal{
    margin-left: 40%;
    margin-top: 40px;
  }

  #graphs{
    margin-top: 20;
  }

  #loginbutton{
    margin-top: 10px;
    border: 1px solid black;
    padding: 7px;
    border-radius: 0.1cm;
  }

 #sigupbutton{
  margin-top: 10px;
  border: 1px solid black;
  padding: 7px;
  border-radius: 0.1cm;
 }